@import url(https://fonts.googleapis.com/css?family=Audiowide);

h1 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  color: red;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
}
body {
  height: 100vh;
  background-color: #1e1d20;
}
.row {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
.column {
  flex: 50%;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
img {
  display: block;
  margin: auto;
}